* {
    box-sizing: border-box;
}

body{
    margin-top: 0;
}

button{cursor: pointer;}

.hero,
.big-image-container {
    width: 1440px;
    margin: 0 auto;
}

.hero {
    height: 675px;
    background: #fff url("../images/image1.jpg") 0 100% no-repeat;
    position: relative;
}

.big-image-container {
    margin-top: 2px;
    font-size: 0;
}

.contained-image {
    display: inline-block;
    position: relative;
    margin: 0;
    width: 360px;
    box-sizing: border-box;
    padding-right: 2px;
}

.contained-image img{
    width: 100%
}

.navbar{
    width: 980px;
    height: 36px;
    background: linear-gradient(0, rgb(124,124,124) 50%, rgb(99,99,99) 50%);
    position: relative;
    margin: 0 auto;
    top: 85px;
    border-radius: 4px;
    font-size: 0;
    clear: left;
    border-style: solid;
    border-width: thin;
    border-color: rgba(0, 0, 0, 0.1);
}

.nav-btn{
    width: 105px;
    height: 100%;
    color: #fff;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: thin;
    border-right-style: solid;
    border-right-color: rgba(0, 0, 0, 0.3);
    float: left;
    background-color: transparent;
    text-shadow: 0 -1px black;
    font: 13px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.nav-btn:hover{
    background-color:rgba(0, 0, 0, 0.3);
}

.nav-search{
    width: 111px;
    position: relative;
    top: 7px;
    right: -15px;
    background-color: transparent;
    border-radius: 15px;
    border-color:rgba(0, 0, 0, 0.5);
    border-style: inset;
}

i.fa{
    padding-top: 1px;
}

i.fa::before{
    font-size: 21px;
}

.search { position: relative; }

.search input { text-indent: 30px;}

.search .fa-search { 
  position: absolute;
  top: 12px;
  right: 102px;
  font-size: 12px;
  color: #fff;
  text-shadow: 0 1px black;
}

.main-content{
    width: 980px;
    margin: 200px auto;
    text-align: center;
}

.text{
    font-family: 'Work Sans', sans-serif;
    color: #fff;
}

h1{
    font-size: 58px;
    font-weight: 200;
    margin-bottom: 5px;
    letter-spacing: -1px;
}

h2{
    font-size: 34px;
    font-weight: 300;
    letter-spacing: -2px;
    margin: 14px 0;
}

